/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 #approved{
    background:white !important;
    color:green !important;
    border-color:green !important
 }